.landing{
    min-height: 100vh;
    background: url(../assets/landing.png) no-repeat center center fixed;
    background-size: cover;
}
.landing img {
    position: absolute;
    max-width: 180px;
    height: auto;
    margin-top: 5%;
    margin-left: 9%;
}
.landing h3 {
    position: absolute;
    margin-top: 4.8%;
    margin-left: 13.5%;
    font-weight: 800;
}
.header{
    display:flex;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 20%;
}

.header span{
margin: 10px;
color:rgb(54, 54, 54);
font-weight: 700;
}

.header :link {
    text-decoration: none;
}
.description {
    margin-left: 9%;
    margin-top: 9%;
}
.description h1{
font-weight: 900;
font-size: 40px;
color:rgb(54, 54, 54);
}
.description p{
    color:rgb(54, 54, 54);
    font-weight: 600;
}

.button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(54, 54, 54);;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    background: none;
   }
   
   .button::before,
   .button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .button::before {
    left: -10px;
    background: #3d3d3d;
   }
   
   .button::after {
    right: -10px;
    background: #272727;
   }
   
   .button:hover::before,
   .button:hover::after {
    width: 58%;
   }
   
   .button:hover span {
    color:antiquewhite;
    transition: 0.3s;
   }
   
   .button span {
    color: rgb(54, 54, 54);
    font-size: 18px;
    transition: all 0.3s ease-in;
   }